.option-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 90%;
    align-items: center;
}

button {
    padding: 10px; 
    font-family: 'Roboto', sans-serif;
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 300px;
}

.correct-answer {
    border: solid 2px green;
    background-color: lightgreen;
    color: black;
    
}

.wrong-answer {
    border: solid 2px red;
    background-color: rgb(235, 120, 120);
    color: black;
}

/* MEDIA QUERIES */

@media (min-width 668px) {

    .option-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 20px;
    }
    
    button {
      width: 150px;
    }
    }
