.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

.summaryContainer {
    background-color: #9e69f3;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.summary-text {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

p {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

span {
    background-color: #9e69f3;
}

.resultContainer {
    background-color: #9e69f3;
    display: flex;
    justify-content: space-around;
}

.scoreContainer {
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    border: solid 5px turquoise;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 40%;
}

.result {
    border: solid 2px black;
    width: 100px;
}